<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New person</title>
</head>
<body>
Новый пользователь
<div align="center"
    style="vertical-align: center">
    <table>
            <tr></tr>
            <tr></tr>
            <form th:method="POST" th:action="@{/admin}" th:object="${person}">
                <label for="name">Name: </label>
                <input type="text" th:field="*{name}" id="name"/>

                <label for="age">Age: </label>
                <input type="text" th:field="*{age}" id="age"/>

                <label for="email">Email: </label>
                <input type="text" th:field="*{email}" id="email"/>

                <label for="password">Password: </label>
                <input type="text" th:field="*{password}" id="password"/>

                <input type="submit" value="Add User"/>
            </form>
    </table>
</div>

</body>
</html>