<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>

<div th:align="center">
    <!--<br/>-->

    <table>
        <tr style="background-color: aliceblue">
            <th>id</th><th>Name</th><th>Age</th> <th>Email</th> <th>Role</th>
        </tr>
        <tr>
            <th th:text="${person.getId()}"></th>
            <th th:text="${person.getName()}"></th>
            <th th:text="${person.getAge()}"></th>
            <th th:text="${person.getEmail()}"></th>
            <th th:text="${person.getRoles()}"></th>
        </tr>
        <tr> <td> </td> </tr>

    </table>

    <table>
        <tr> <td> </td> </tr>
        <tr>
            <td><a th:href="@{/admin}">Back </a></td>
            <td width="2"></td>
            <td><a th:href="@{/admin/{id}/edit(id=${person.getId()})}">Edit</a></td>
            <td><form th:method="DELETE" th:action="@{/admin/{id}(id=${person.getId()})}">
                <input type="submit" value=" Delete "/>
            </form>
            </td>
            <td><form th:method="post" th:action="@{/logout}">
                <input type="submit" value="Logout"/>
            </form>
            </td>
        <tr>
    </table>

</div>


</body>
</html>